<h1>Pirates</h1>
  <p><%= @pirate.name %> </p>
  
  <p><%= @pirate.height%> </p>
  
  <p><%= @pirate.weight %></p>



<h2>Ship</h2>

  <% @ships.each do |ship| %>
 <p> <%= ship.name %> </p>
  <p><%= ship.type %></p>
  <%= ship.booty %></p>
  <br>
  <% end %>


<h2>Display your second ship here</h2>
